@model TalmerMaint.WebUI.Models.LocationCatsViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Manage Hours for @Model.Location.Name</h2>
<div class="row">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Location", "Edit", "Locations", new { id = Model.Location.Id }, null)
        </li>
        <li>Manage Hours</li>
    </ol>
    <div class="col-md-6">
        <h3>Current Hours</h3>
        @Html.Partial("LocHourSummary", Model.Location.LocHourCats)
    </div>
    <div class="col-md-6">
        <h3>Add Hour Title</h3>
        <p class="text-muted">This is a title for a set of hours such as "Lobby Hours" or "Drive Thru Hours"</p>
        @using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="LocHourCats.LocationId" value="@Model.Location.Id" />

                <div class="form-group">
                    @Html.LabelFor(model => model.LocHourCats.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LocHourCats.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LocHourCats.Name, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Edit", "Locations", new { id = Model.Location.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
    }
    </div>
</div>

