@using TalmerMaint.Domain.Entities
@model IEnumerable<LocHourCats>
<table class="table table-striped">

    @if (Model == null || !Model.Any())
    {
        if (Model == null)
        {
            <tr><td colspan="4" class="text-center">Hours can only be defined when the location has been saved</td></tr>

        }
        else
        {
            <tr><td colspan="4" class="text-center">No Hours have been defined</td></tr>

        }

    }
    else
    {
       
        foreach (LocHourCats cats in Model)
        {
            <tr><th>@cats.Name</th><th colspan="3"><a href="~/LocHours/Manage/@cats.Id" class="btn btn-primary btn-xs" type="submit"><i class="fa fa-arrow-down"></i> Add Hours</a></th><td>
                @using (Html.BeginForm("Delete", "LocHourCats",
                                            new { id = cats.Id, locId = cats.LocationId }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ActionLink("Edit", "Edit", "LocHourCats", new { id = cats.Id },
                       new { @class = "btn btn-primary btn-xs" })
                    <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                }
                </td></tr>

            foreach(LocHours hours in cats.LocHours.OrderBy(m=>m.Priority)) {
            <tr>
                <td></td>
                <td>@hours.Days</td>
                <td>@hours.Hours</td>
                <td>@hours.Priority</td>
                <td>
                    @using (Html.BeginForm("Delete", "LocHours",
                                        new { id = hours.Id, locId = hours.LocHourCatsId }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink("Edit", "Edit", "LocHours", new { id = hours.Id },
                       new { @class = "btn btn-primary btn-xs" })
                        <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                    }
                </td>
            </tr>
            }

        }
    }
</table>