@model TalmerMaint.Domain.Entities.Location

@{
    ViewBag.Title = "Create";
}
<h1>Image for @Model.Name</h1>
@using (Html.BeginForm("Manage", "LocImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("LocImage.LocationId", Model.Id)

    @Html.HiddenFor(m => m.LocImage.Id)
    @Html.Hidden("LocImage.FeaturedImg", "True")
    /*
    In the case where marketing decides they want multiple images for locations,
    this is in place so that a featured image can be set
    <div class="form-group">
        <label>Featured Image?</label>
        @Html.CheckBoxFor(m => m.Image.FeaturedImg)
    </div>
    */
    <div class="row margin-bottom-twenty">
        <div class="form-group col-sm-5">

            <label class="control-label">Image</label>

            <a class='btn btn-primary' href='javascript:;'>Choose File...</a>
            <input type="file" name="Image" size="40" style="position:absolute;z-index:2;top:0;left:0;filter:alpha(opacity=0);opacity:0;background-color:transparent;color:transparent;height:100%;cursor:pointer" onchange='$("#upload-file-info").html($(this).val());' />
            <span class="label label-info" id="upload-file-info"></span>
        </div>
        <div class="col-sm-7">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Return to Location", "Edit", "Locations", new { id = Model.Id }, new { @class = "btn btn-default" })
        </div>

    </div>

}
<div class="">
    @if (Model.LocImage.ImageMimeType != null)
            {
        <h3 class="margin-top-none">Current Image</h3>
                <img class="img-thumbnail loc-img margin-bottom-ten pull-left" width="150" src="@Url.Action("GetImage", "LocImage", new { Model.LocImage.Id })" alt="location thumbnail" />

        using (Html.BeginForm("Delete", "LocImage", new { id = Model.LocImage.Id }, FormMethod.Post, new { @class = "deleteConfirm" }))
        {
            @Html.Hidden("Id", Model.LocImage.Id)
            <input type="submit" class="btn btn-danger btn-xs margin-left-ten" value="Delete" />
        }
    }

</div>