@using TalmerMaint.Domain.Entities
@model TalmerMaint.WebUI.Models.RatesRowsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RateRow.Priority, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.RateRow.Priority, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RateRow.Priority, "", new { @class = "text-danger" })
            </div>
        </div>
       @foreach(RateTitle title in Model.Titles) {
        

        <div class="form-group">
           <input type="hidden" name="RateTitleId" value="@title.Id"/>
           <label class="control-label col-md-4">@title.Name</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.RateRow.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RateRow.Value, "", new { @class = "text-danger" })
            </div>
        </div>
        
       }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div> 
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
