
@{
    ViewBag.Title = "Talmer Maintenance";
}

<h2>Talmer Maintenance</h2>
<h3>Site Functions</h3>
<div style="padding-bottom:20px;">Not @User.Identity.Name? 
@Html.ActionLink("Sign Out", "Logout", "Account", null, new { @class = "btn btn-primary btn-xs" })</div>
<table class="table table-striped">
    <tr><th>Site Function</th> <th>Description</th><th></th></tr>
    @if (User.IsInRole("LocationAdmin"))
    {
       <tr><td>Branch Locations</td><td>Create, Edit and Delete banking locations</td><td>@Html.ActionLink("Edit Locations", "Index", "Locations", null, new { @class = "btn btn-default btn-xs" })</td></tr> 
    }
    @if (User.IsInRole("RatesAdmin"))
    {
        <tr><td>Rates</td><td>Create, Edit and Delete rates</td><td>@Html.ActionLink("Edit Rates", "Index", "Rates", null, new { @class = "btn btn-default btn-xs" })</td></tr>
    }
    @if (User.IsInRole("UserAdmin"))
    {
        <tr><td>Site Managers</td><td>Create, Edit and Delete users of this site</td><td>@Html.ActionLink("Edit Managers", "Index", "Users", null, new { @class = "btn btn-default btn-xs" })</td></tr>
        <tr><td>Site Roles</td><td>Create, Edit and Delete roles with this site</td><td>@Html.ActionLink("Edit Roles", "Index", "RoleAdmin", null, new { @class = "btn btn-default btn-xs" })</td></tr>
        
    }
</table>



