@model TalmerMaint.WebUI.Models.LocationPhonesViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Hours for @Model.Location.Name</h2>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Location", "Edit", "Locations", new { id = Model.Location.Id }, null)
    </li>
    <li>Manage Phones</li>
</ol>
<div class="col-md-6">
    @Html.Partial("LocPhoneNumsummary", Model.Location)
</div>
<div class="col-md-6">
    @using (Html.BeginForm("Edit", "LocPhoneNums"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(h => h.LocPhoneNums.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(h => h.LocPhoneNums.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(h => h.LocPhoneNums.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(h => h.LocPhoneNums.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(h => h.LocPhoneNums.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(h => h.LocPhoneNums.Number, "", new { @class = "text-danger" })
                </div>
            </div>



            <input name="LocPhoneNums.LocationId" type="hidden" value="@Model.Location.Id" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Cancel", "Edit", "Locations", new { id = Model.Location.Id }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }

    <div>

    </div>
</div>

