@model TalmerMaint.WebUI.Models.LocationServicesViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add Services for @Model.Location.Name</h2>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Location", "Edit", "Locations", new { id = Model.Location.Id }, null)
    </li>
    <li>Manage Services</li>
</ol>
<div class="row">
    <div class="col-md-6">

        @Html.Partial("LocServicesSummary", Model.Location)

    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Edit", "LocServices"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="col-md-9 col-md-offset-3 margin-bottom-ten">
                @Html.CheckBox("LocServices.Featured")
                <label>Featured Product?</label>
            </div>
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(h => h.LocServices.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(h => h.LocServices.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(h => h.LocServices.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(h => h.LocServices.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(h => h.LocServices.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(h => h.LocServices.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(h => h.LocServices.IconClassName, htmlAttributes: new { @class = "control-label col-md-3 icon" })
                    <div class="col-md-9">
                        @Html.EditorFor(h => h.LocServices.IconClassName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(h => h.LocServices.IconClassName, "", new { @class = "text-danger" })
                        <br />Check out <a href="https://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">Font Awesome</a> for your class names, <strong>only include</strong> the fa-[icon name] not the full &lt;i class="fa fa-[icon name]"&gt;&lt;/i&gt; examples they provide.
                    </div>
                </div>

                <input name="LocServices.LocationId" type="hidden" value="@Model.Location.Id" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Edit", "Locations", new { id = Model.Location.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }

        <div>

        </div>
    </div>
</div>
